-D
-a always,exit -S execve
-a never,exclude -F msgtype=USER
-a never,exclude -F msgtype=LOGIN
-a never,exclude -F msgtype=USER_AUTH
-a never,exclude -F msgtype=USER_ACCT
-a never,exclude -F msgtype=USER_MGMT
-a never,exclude -F msgtype=CRED_ACQ
-a never,exclude -F msgtype=CRED_DISP
-a never,exclude -F msgtype=USER_START
-a never,exclude -F msgtype=USER_END
-a never,exclude -F msgtype=USER_AVC
-a never,exclude -F msgtype=USER_CHAUTHTOK
-a never,exclude -F msgtype=USER_ERR
-a never,exclude -F msgtype=CRED_REFR
-a never,exclude -F msgtype=USYS_CONFIG
-a never,exclude -F msgtype=USER_LOGIN
-a never,exclude -F msgtype=USER_LOGOUT
-a never,exclude -F msgtype=ADD_USER
-a never,exclude -F msgtype=DEL_USER
-a never,exclude -F msgtype=ADD_GROUP
-a never,exclude -F msgtype=DEL_GROUP
-a never,exclude -F msgtype=DAC_CHECK
-a never,exclude -F msgtype=CHGRP_ID
-a never,exclude -F msgtype=TEST
-a never,exclude -F msgtype=TRUSTED_APP
-a never,exclude -F msgtype=USER_SELINUX_ERR
-a never,exclude -F msgtype=USER_CMD
-a never,exclude -F msgtype=USER_TTY
-a never,exclude -F msgtype=CHUSER_ID
-a never,exclude -F msgtype=GRP_AUTH
-a never,exclude -F msgtype=SYSTEM_BOOT
-a never,exclude -F msgtype=SYSTEM_SHUTDOWN
-a never,exclude -F msgtype=SYSTEM_RUNLEVEL
-a never,exclude -F msgtype=SERVICE_START
-a never,exclude -F msgtype=SERVICE_STOP
-a never,exclude -F msgtype=GRP_MGMT
-a never,exclude -F msgtype=GRP_CHAUTHTOK
-a never,exclude -F msgtype=MAC_CHECK
-a never,exclude -F msgtype=ACCT_LOCK
-a never,exclude -F msgtype=ACCT_UNLOCK
-a never,exclude -F msgtype=USER_DEVICE
-a never,exclude -F msgtype=SOFTWARE_UPDATE
-a never,exclude -F msgtype=DAEMON_START
-a never,exclude -F msgtype=DAEMON_END
-a never,exclude -F msgtype=DAEMON_ABORT
-a never,exclude -F msgtype=DAEMON_CONFIG
-a never,exclude -F msgtype=DAEMON_ROTATE
-a never,exclude -F msgtype=DAEMON_RESUME
-a never,exclude -F msgtype=DAEMON_ACCEPT
-a never,exclude -F msgtype=DAEMON_CLOSE
-a never,exclude -F msgtype=DAEMON_ERR
-a never,exclude -F msgtype=PATH
-a never,exclude -F msgtype=IPC
-a never,exclude -F msgtype=SOCKETCALL
-a never,exclude -F msgtype=CONFIG_CHANGE
-a never,exclude -F msgtype=SOCKADDR
-a never,exclude -F msgtype=CWD
-a never,exclude -F msgtype=EXECVE
-a never,exclude -F msgtype=IPC_SET_PERM
-a never,exclude -F msgtype=MQ_OPEN
-a never,exclude -F msgtype=MQ_SENDRECV
-a never,exclude -F msgtype=MQ_NOTIFY
-a never,exclude -F msgtype=MQ_GETSETATTR
-a never,exclude -F msgtype=KERNEL_OTHER
-a never,exclude -F msgtype=FD_PAIR
-a never,exclude -F msgtype=OBJ_PID
-a never,exclude -F msgtype=TTY
-a never,exclude -F msgtype=EOE
-a never,exclude -F msgtype=BPRM_FCAPS
-a never,exclude -F msgtype=CAPSET
-a never,exclude -F msgtype=MMAP
-a never,exclude -F msgtype=NETFILTER_PKT
-a never,exclude -F msgtype=NETFILTER_CFG
-a never,exclude -F msgtype=SECCOMP
-a never,exclude -F msgtype=FEATURE_CHANGE
-a never,exclude -F msgtype=KERN_MODULE
-a never,exclude -F msgtype=FANOTIFY
-a never,exclude -F msgtype=TIME_INJOFFSET
-a never,exclude -F msgtype=TIME_ADJNTPVAL
-a never,exclude -F msgtype=BPF
-a never,exclude -F msgtype=EVENT_LISTENER
-a never,exclude -F msgtype=URINGOP
-a never,exclude -F msgtype=OPENAT2
-a never,exclude -F msgtype=DM_CTRL
-a never,exclude -F msgtype=DM_EVENT
-a never,exclude -F msgtype=AVC
-a never,exclude -F msgtype=SELINUX_ERR
-a never,exclude -F msgtype=AVC_PATH
-a never,exclude -F msgtype=MAC_POLICY_LOAD
-a never,exclude -F msgtype=MAC_STATUS
-a never,exclude -F msgtype=MAC_CONFIG_CHANGE
-a never,exclude -F msgtype=MAC_UNLBL_ALLOW
-a never,exclude -F msgtype=MAC_CIPSOV4_ADD
-a never,exclude -F msgtype=MAC_CIPSOV4_DEL
-a never,exclude -F msgtype=MAC_MAP_ADD
-a never,exclude -F msgtype=MAC_MAP_DEL
-a never,exclude -F msgtype=MAC_IPSEC_ADDSA
-a never,exclude -F msgtype=MAC_IPSEC_DELSA
-a never,exclude -F msgtype=MAC_IPSEC_ADDSPD
-a never,exclude -F msgtype=MAC_IPSEC_DELSPD
-a never,exclude -F msgtype=MAC_IPSEC_EVENT
-a never,exclude -F msgtype=MAC_UNLBL_STCADD
-a never,exclude -F msgtype=MAC_UNLBL_STCDEL
-a never,exclude -F msgtype=MAC_CALIPSO_ADD
-a never,exclude -F msgtype=MAC_CALIPSO_DEL
-a never,exclude -F msgtype=ANOM_PROMISCUOUS
-a never,exclude -F msgtype=ANOM_ABEND
-a never,exclude -F msgtype=ANOM_LINK
-a never,exclude -F msgtype=ANOM_CREAT
-a never,exclude -F msgtype=INTEGRITY_DATA
-a never,exclude -F msgtype=INTEGRITY_METADATA
-a never,exclude -F msgtype=INTEGRITY_STATUS
-a never,exclude -F msgtype=INTEGRITY_HASH
-a never,exclude -F msgtype=INTEGRITY_PCR
-a never,exclude -F msgtype=INTEGRITY_RULE
-a never,exclude -F msgtype=INTEGRITY_EVM_XATTR
-a never,exclude -F msgtype=INTEGRITY_POLICY_RULE
-a never,exclude -F msgtype=KERNEL
-a never,exclude -F msgtype=ANOM_LOGIN_FAILURES
-a never,exclude -F msgtype=ANOM_LOGIN_TIME
-a never,exclude -F msgtype=ANOM_LOGIN_SESSIONS
-a never,exclude -F msgtype=ANOM_LOGIN_ACCT
-a never,exclude -F msgtype=ANOM_LOGIN_LOCATION
-a never,exclude -F msgtype=ANOM_MAX_DAC
-a never,exclude -F msgtype=ANOM_MAX_MAC
-a never,exclude -F msgtype=ANOM_AMTU_FAIL
-a never,exclude -F msgtype=ANOM_RBAC_FAIL
-a never,exclude -F msgtype=ANOM_RBAC_INTEGRITY_FAIL
-a never,exclude -F msgtype=ANOM_CRYPTO_FAIL
-a never,exclude -F msgtype=ANOM_ACCESS_FS
-a never,exclude -F msgtype=ANOM_EXEC
-a never,exclude -F msgtype=ANOM_MK_EXEC
-a never,exclude -F msgtype=ANOM_ADD_ACCT
-a never,exclude -F msgtype=ANOM_DEL_ACCT
-a never,exclude -F msgtype=ANOM_MOD_ACCT
-a never,exclude -F msgtype=ANOM_ROOT_TRANS
-a never,exclude -F msgtype=ANOM_LOGIN_SERVICE
-a never,exclude -F msgtype=ANOM_LOGIN_ROOT
-a never,exclude -F msgtype=ANOM_ORIGIN_FAILURES
-a never,exclude -F msgtype=ANOM_SESSION
-a never,exclude -F msgtype=RESP_ANOMALY
-a never,exclude -F msgtype=RESP_ALERT
-a never,exclude -F msgtype=RESP_KILL_PROC
-a never,exclude -F msgtype=RESP_TERM_ACCESS
-a never,exclude -F msgtype=RESP_ACCT_REMOTE
-a never,exclude -F msgtype=RESP_ACCT_LOCK_TIMED
-a never,exclude -F msgtype=RESP_ACCT_UNLOCK_TIMED
-a never,exclude -F msgtype=RESP_ACCT_LOCK
-a never,exclude -F msgtype=RESP_TERM_LOCK
-a never,exclude -F msgtype=RESP_SEBOOL
-a never,exclude -F msgtype=RESP_EXEC
-a never,exclude -F msgtype=RESP_SINGLE
-a never,exclude -F msgtype=RESP_HALT
-a never,exclude -F msgtype=RESP_ORIGIN_BLOCK
-a never,exclude -F msgtype=RESP_ORIGIN_BLOCK_TIMED
-a never,exclude -F msgtype=RESP_ORIGIN_UNBLOCK_TIMED
-a never,exclude -F msgtype=USER_ROLE_CHANGE
-a never,exclude -F msgtype=ROLE_ASSIGN
-a never,exclude -F msgtype=ROLE_REMOVE
-a never,exclude -F msgtype=LABEL_OVERRIDE
-a never,exclude -F msgtype=LABEL_LEVEL_CHANGE
-a never,exclude -F msgtype=USER_LABELED_EXPORT
-a never,exclude -F msgtype=USER_UNLABELED_EXPORT
-a never,exclude -F msgtype=DEV_ALLOC
-a never,exclude -F msgtype=DEV_DEALLOC
-a never,exclude -F msgtype=FS_RELABEL
-a never,exclude -F msgtype=USER_MAC_POLICY_LOAD
-a never,exclude -F msgtype=ROLE_MODIFY
-a never,exclude -F msgtype=USER_MAC_CONFIG_CHANGE
-a never,exclude -F msgtype=USER_MAC_STATUS
-a never,exclude -F msgtype=CRYPTO_TEST_USER
-a never,exclude -F msgtype=CRYPTO_PARAM_CHANGE_USER
-a never,exclude -F msgtype=CRYPTO_LOGIN
-a never,exclude -F msgtype=CRYPTO_LOGOUT
-a never,exclude -F msgtype=CRYPTO_KEY_USER
-a never,exclude -F msgtype=CRYPTO_FAILURE_USER
-a never,exclude -F msgtype=CRYPTO_REPLAY_USER
-a never,exclude -F msgtype=CRYPTO_SESSION
-a never,exclude -F msgtype=CRYPTO_IKE_SA
-a never,exclude -F msgtype=CRYPTO_IPSEC_SA
-a never,exclude -F msgtype=VIRT_CONTROL
-a never,exclude -F msgtype=VIRT_RESOURCE
-a never,exclude -F msgtype=VIRT_MACHINE_ID
-a never,exclude -F msgtype=VIRT_INTEGRITY_CHECK
-a never,exclude -F msgtype=VIRT_CREATE
-a never,exclude -F msgtype=VIRT_DESTROY
-a never,exclude -F msgtype=VIRT_MIGRATE_IN
-a never,exclude -F msgtype=VIRT_MIGRATE_OUT
