[Unit]
Description=Chisel server

[Service]
Type=simple
ExecStart=/root/go/bin/chisel server --reverse --port 999
ExecStartPost=/bin/sleep 1
ExecStartPost=/bin/bash -c "[ ! -z $MAINPID ]"

[Install]
WantedBy=multi-user.target 